@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@400;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
main{
    width:100%;
    margin: 0 auto;
    
}
nav{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    padding: 0 155px 0 120px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* gap:50px; */
    
}
#text-color{
    color:#FF42A5;
}
.nav {
    display:flex;
    
    gap:32px;
    align-items: center;
}
.nav li{
    list-style: none;
}
.nav-icon{
    width:200px;
    height:50px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-top:0.5px;
    padding-bottom:0.5px;
    padding-left:15px;
    display:flex;
}
.nav-img{
    display:flex;
    height:20px;
    width:70px;
    gap:15px;
    align-items: center;
    justify-content: center;
    padding:15px;
}

.gamer{
    display:flex;
    /* width:16px; */
    height:40px;
    
    align-items: center;
    justify-content: center;
    padding-top:25px;
}
.gamer img{
    height:1.5rem;
}
.gamer p{
    text-align: center;

    font-size: 2rem;

    font-weight: 700;
    margin-left: 10px;
    

}
footer{
    height:450px;
    background-color: #0B0223;
    padding-left:30px;
    padding-right:30px;
}
.footer-title{
    color: #FFF;
    font-size:2.2rem;
    font-weight:700;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    padding-top:40px;
}

.footer-title img{
    height:2rem;
}
.footer-list{
    color: #FFF;
    font-weight: 600;
    font-size:0.8rem;
    display:flex;
    gap:50px;
    justify-content: center;
    
}
.footer-list li{
    list-style:none;
}
.footer-icons>ul{
    display:flex;
    gap:40px;
    justify-content: center;
}
.footer-list li{
    list-style:none;
}
.footer-icons, .footer-policy{
    margin-top:50px;
}
.footer-icons img{
    height:70%;
}
.footer-icons li{
    list-style:none;
}
.footer-policy>ul{
    display:flex;
    gap:50px;
    justify-content: center;
}
.footer-policy li{
    list-style:none;
    color: rgba(255, 255, 255, 0.60);
    font-weight :500;
}
.footer-content{
    justify-content: center;
    margin-top: 1px;
}
.footer-content p{
    font-weight :500;
    font-size:1rem;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    

}
header{
    height:400px;
    
    
    
}
.header{
    display:flex;

    justify-content:space-between;
    gap:60px;
    
}
.header > div{
    flex:1;
}
.header-title{
    background-image: url('../images/Group-14.png');
    background-size: 500px 600px;
    background-repeat: no-repeat;
    

}

.header-content{
    color: #0B0223;
    text-align: center;

    font-size: 2rem;

    font-weight: 600;
    padding-right:180px;
    padding-top:30px;


}
.header-img img{
    height:400px;
    width:400px;
    margin-left:80px;
    
}
/* .button{
    align-items: center;
    justify-content: center;
}
.header-title{
    align-items: center;
    justify-content: end;
} */
.button{
    padding-left:110px;
    
}
.btn-1{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;

    font-size: 20px;

    font-weight: 600;
    padding: 9px 25px;
    border:none;

    

}
.btn-2{
    border:none;
    color: #FFF;
    margin-left:10px;
    font-size: 20px;
    padding: 9px 25px;

    font-weight: 600;
    border-radius: 48px;
    background: #4EC5F7;

}
.items{
    padding-left:110px;
}
.header-title li{
    list-style: none;
    color: #534C64;
    text-align: start;
    

    font-size: 1rem;
   
    font-weight: 500;

    
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    /* color: #F948B2, #8758F1; */
    
    /* color:#F948B2, #8758F1; */


    /* text-align: center; */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 4rem;

    font-weight: 800;

}
/* .video{
    width: 900px;
} */
.image{
    width:300px;
    height:250px;
    /* border:1px solid blue;
    background-color: aqua; */
}
.video-content{
    /* border:1px solid red; */
    
    text-align: center;
}
.video-content h3{
    color: #0B0223;
    margin-bottom:5px;


   font-size: 2rem;

   font-weight: 700;

  
}
.content{
    color: #534C64;

    font-size: 1rem;

    font-weight: 500;
}
.video-content p{
    color: #534C64;
    text-align: center;

    font-size: 1rem;

    font-weight: 400;
    margin-top:0;

}
.video-content-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2rem;

    font-weight: 700;

}

.video{
    /* border:3px solid red; */
    margin:0 0 0 120px;
    width:1000px;
}
.vid-container img{
    width:100%;
    height:100%;
}

.section-2{
    /* border:1px solid red; */
    display:flex;
    width:1000px;
    
    
    gap:200px;
    margin-left:120px;
    padding-top:80px;
}
/* .section-2 img{
    width:400px;
    height:400px;
    margin-right:0

} */
.image-2{
    width:400px;
    height:400px;
    margin-right:0
}
.section-heading{
    color:#F948B2;
    
    
}
.para{
    width:350px;
}
.section-2 p{
    color: #534C64;
    text-align: right;

    font-size: 1rem;

    font-weight: 400;
    padding-left:40px;



}
.section-2 h3{
    text-align: right;
    margin:80px 0;
   

    font-size: 2rem;

    font-weight: 700;
    color: #0B0223;

}
.image-3{
    width:190px;
    height:220px;
    position:relative;
    bottom:180px;
    right:90px;

}


.vid-container{
    display:flex;
    width:auto;
    justify-content: center;
    align-items: center;
    /* padding:0 240px 0 240px; */
    gap:10px;
    margin-bottom:70px;
    padding-bottom:20px;
}
/* .icon{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2, 70px);
    margin:0 auto;
    align-content:center;
    grid-gap:20px;
    justify-content: center;
    margin-right:30px;
    margin-left:80px;
    margin-bottom:50px;
    padding:20px;
    border:1px solid red;
} */
.icon{
    display:flex;
    flex-wrap: wrap;
    width:1000px;
    padding-left:200px;
    gap:20px;
    justify-content: center;

}
.section-3{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top:0;
    height:200px;
    padding-top:70px;
    
}
.icon div{
    display:flex;
    align-items: right;
    
    border-radius: 50px;
    background: #FFF;
    width: 180px;
    height: 40px;
    

}
.icon div:hover{
    color:#FF42A5;
    outline:1px solid #FF42A5;
}
.icon div p{
    
    font-size: .7rem;
   
    font-weight: 600;
    text-align: center;
    padding-left:12px;

}



/* .sec-1{
    width:100%;
    height:300px;
    background-color: aqua;
}
.sec-2{
    width:100%;
    height:300px;
    background-color: red;
} */
@media screen and (max-width:567px) {

   
    body{
        margin:0 auto;
        width:470px;
        
    }
    nav, .nav{
        flex-direction: column;
    }
    nav{
        padding-right:13px;
    }
    .gamer{
        margin-right: 100px;
    }
    .items{
        padding-left:60px;
    }
    header{
        height:auto;
    }
    .header{
        flex-direction: column-reverse;
        width:auto;
        height:auto;
        margin:0 auto;
    }
    .header-content{
        padding-right:0;
        
    }
    .header-img img{
        width:300px;
        height:300px;
        position:static;
        
    }
    .button{
        display:flex;
        gap:20px;
        padding-left:55px;       
    }
    .btn-1, .btn-2{
        border-radius:40px;
        font-size:15px;
        padding:7px 15px;
    }
    .header-content{
        font-size:1.8rem;
        padding:0 50px 0 0;
    }
    .header-title{
        background-size: 100% 110%;
        margin:0 40px 0 40px;
        margin-bottom:30px;

    }
   
    .nav-1{
        padding-right: 120px;
    }
    .video{
        width:200px;
    }
    .image{
        height:300px;
    }
    .vid-container{
        flex-direction: column;
        gap:100px;
        
        /* width:auto; */
    }
    .video-content{
        width:100%;
        
    }

    .video-content h3{
        font-size: 18px;
        padding-right:50px;
    }
    .video-content-text{
        font-size:18px;
        
        
    }
   .video-content{
    margin-right:30px;
    
   }
   
    .video-content p{
        font-size:10px;
        padding-right:50px;
        
        
    }
   .video-content{
        width:300px;
    
   }
   .section-2{
       flex-direction: column;
       width:auto;
       margin-right:30px;
       gap:20px;
       
   }
   .section-2 p{
    padding:0;
    margin-right:90px;
    text-align: center;
    margin-top:0;
    font-size:0.8rem;
   }
   .section-2 h3{
    margin-right:90px;
    margin-bottom:20px;
    margin-top:0;
   }
   .image-2{
    width:270px;
    height:270px;

    
    margin-right:30px;
   }
   .image-3{
      width:130px;
      height:150px;
      bottom:120px;
   }

    footer{
        width:100%;
        margin:0 auto;
    }
    .footer-list{
       
        justify-content: center;
        flex-wrap:wrap;
    

    }
    .footer-policy>ul{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        /* flex-wrap: wrap; */
    }
    .footer-list li{
        margin-top: 0;
        margin-bottom:0;

    }
    /* .footer{
        height:auto;
    } */
    footer{
        width:auto;
        height:auto;
        /* position:sticky;
        bottom:0; */
        min-height: 50vh;
        /* height:50px; */
        margin:0 auto;
        padding-right:40px;
        padding-left:40px;
        padding-bottom:40px;
        
    }
    .footer-content p{
        text-align: center;
        padding-top:30px;
    }
    .footer-icons>ul{
        flex-wrap: wrap;
    }
    .footer-title{
        padding-top:10px;
    }
    .section-3{
        width:470px;
        
    }
    .icon{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        column-gap:5px;
        width:100%;
        padding-left:30px;
        margin:0 auto;

    }
    .icon div{
        width:140px;
        height:30px;
        margin:0 auto;
    }
    .icon div p{
        padding-left:0;
        font-size:10px;
    }
    body{
        margin-right:0;
    }
    .icon{
        margin-right:0;
        padding-left:0;
    }
    .image-2{
        margin-right:0;
    
    }
    /* main, footer, header, nav{
        max-width:470px;
        width:auto;
        margin:0 auto;
        
    } */
    /* body{
        margin:0 auto;
    } */



}
    /* footer{
        position:static;
        height:100vh;
    } */
    
@media screen and (min-width:567px) and (max-width:992px){
    /* main{
            width:900px;
        }
        body{
            width:100%;
        }
        nav{
            width:1000px;
            margin: 0 auto;
    
        }
        .section-3, .section-2{
            width:1200px;
        }
        .icon{
            width:1200px;
            margin: 0 auto;
        }
    
        footer{
            width:900px;
        }
     */
    

        .icon{
            width:768px;
            padding-left:0;
        }
        .image-2{
            width:300px;
            height:300px;
        }
        .image-3{
            height:170px;
            width:140px;
            position:relative;
            bottom:130px;
            right:40px;
        }
        .section-2{
            width:768px;
            margin-left:0;
            gap:80px;
        }
        .video{
            width:100vw;
            
        }
        .video-content h3{
            margin-left:0;
            margin-right:0;
            text-align:center;
        }
        .video-content p{
            text-align: center;
        }
        .video{
            margin-left:0;
            margin-right:0;
            
        }
        
        .vid-container{
            width:768px;
            display:grid;
            grid-template-columns: repeat(2,1fr);
            row-gap:70px;
            margin-left:0;
            margin-right:0;
            column-gap:0;
            justify-items: center;
            /* justify-content: center; */
            
            
        
        
        }
        .image{
            width:320px;
            height:270px;
        }
        .button{
            display:flex;
            padding-left:60px;

        }
        .items{
            padding-left:70px;
        }
        nav{
            padding-left:50px;
            padding-right:100px;
        }
        nav li{
            font-size:15px;
        }
        .header-content{
            padding-right:30px;
        }
        .header{
            gap:5px;
            width:768px;
        }
        .header-img img{
            width:350px;
            height:360px;
            margin-left:0;
        }
        .header-img{
            width:350px;
        }
        .section-3{
            width:768px;
        }
        .section-2 h3{
            margin-bottom:20px;
            margin-top:50px;
        }
        footer{
            width:710px;
        }
        



    }