@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@400;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
main{
    width:1000px;
    
}
nav{
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
#text-color{
    color:#FF42A5;
}
.nav {
    display:flex;
    
    gap:32px;
    align-items: center;
}
.nav li{
    list-style: none;
}
.nav-icon{
    width:200px;
    height:50px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-top:0.5px;
    padding-bottom:0.5px;
    padding-left:15px;
    display:flex;
}
.nav-img{
    display:flex;
    height:20px;
    width:70px;
    gap:15px;
    align-items: center;
    justify-content: center;
    padding:15px;
}

.gamer{
    display:flex;
    /* width:16px; */
    height:40px;
    
    align-items: center;
    justify-content: center;
    padding-top:25px;
}
.gamer img{
    height:1.5rem;
}
.gamer p{
    text-align: center;

    font-size: 2rem;

    font-weight: 700;
    margin-left: 10px;
    

}
footer{
    height:450px;
    background-color: #0B0223;
    padding-left:30px;
    padding-right:30px;
}
.footer-title{
    color: #FFF;
    font-size:2.2rem;
    font-weight:700;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:12px;
    padding-top:40px;
}

.footer-title img{
    height:2rem;
}
.footer-list{
    color: #FFF;
    font-weight: 600;
    font-size:0.8rem;
    display:flex;
    gap:50px;
    justify-content: center;
    
}
.footer-list li{
    list-style:none;
}
.footer-icons>ul{
    display:flex;
    gap:40px;
    justify-content: center;
}
.footer-list li{
    list-style:none;
}
.footer-icons, .footer-policy{
    margin-top:50px;
}
.footer-icons img{
    height:70%;
}
.footer-icons li{
    list-style:none;
}
.footer-policy>ul{
    display:flex;
    gap:50px;
    justify-content: center;
}
.footer-policy li{
    list-style:none;
    color: rgba(255, 255, 255, 0.60);
    font-weight :500;
}
.footer-content{
    justify-content: center;
    margin-top: 1px;
}
.footer-content p{
    font-weight :500;
    font-size:1rem;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    

}
@media screen and (max-width:567px) {
    
    nav, .nav{
        flex-direction: column;
    }
    nav{
        padding-right:15px;
    }
    footer{
        width:100%;
        margin:0 auto;
    }
    .footer-list{
       
        justify-content: center;
        flex-wrap:wrap;
    

    }
    .footer-policy>ul{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        /* flex-wrap: wrap; */
    }
    .footer-list li{
        margin-top: 0;
        margin-bottom:0;

    }
    footer{
        width:auto;
        height:auto;
        margin:0 auto;
        padding-right:40px;
        padding-left:40px;
        padding-bottom:40px;
        
    }
    .footer-content p{
        text-align: center;
        padding-top:30px;
    }
    .footer-icons>ul{
        flex-wrap: wrap;
    }
    .footer-title{
        padding-top:10px;
    }
}
/* @media screen and (min-width:567px) and (max-width:992px){

} */